@import "~bootstrap/scss/bootstrap";

// html,
// body {
// 	margin: 0;
// 	height: 100%;
// 	overflow: hidden;
// }

body {
	height: 100%;
	// overflow-y: hidden;
}

// body {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	background-color: #333;
// 	justify-content: center;
// 	// position: fixed;
// 	// height: 100vh;
// 	// overflow: hidden;
// }

#phaser-app {
	overflow: auto;
	position: absolute;
	height: 100%;
	width: 100%;
}

// canvas {
// 	width: 100%;
// 	height: 100%;
// }

// .overlay {
// 	position: fixed;
// 	top: 0px;
// 	left: 0px;
// 	right: 0px;
// 	bottom: 0px;
// 	background-color: rgba(0, 0, 0, 0.8);

// 	.overlay-content {
// 		height: 100%;
// 		overflow: scroll;
// 	}
// }

// .background-content {
// 	height: 100%;
// 	overflow: auto;
// }
